### Contents

Create loyalty flag

Create frequency flag

In [2]:
import pandas as pd
import numpy as np
import os

Import data

In [6]:
ords_prods_merge = pd.read_pickle (r'C:\Users\agwsi\CF\4. Python\11-06-24 Instacart project\02 Data\Prepared Data\ords_prods_merge_busiest_days_and_hours.pkl')

In [11]:
#check import
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0,order_id,user_id,eval_set,order_number,...,order_hour_of_day,days_since_prior_order,is_new_customer,add_to_cart_order,reordered,_merge,price_range_loc,price_range,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,28,...,11,3.0,False,5,0,both,Mid-range product,Mid-range product,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,30,...,17,20.0,False,1,1,both,Mid-range product,Mid-range product,Regularly busy,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,2,...,21,6.0,False,20,0,both,Mid-range product,Mid-range product,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,1,...,13,NaN,True,10,0,both,Mid-range product,Mid-range product,Least busy,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,3,...,17,9.0,False,11,1,both,Mid-range product,Mid-range product,Least busy,Average orders

## Find the aggregated mean of the “order_number” column grouped by “department_id” for your dataframe.

In [14]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## Creatie a loyalty flag for existing customers using the transform() and loc() functions. Label as 'Loyal customer', 'New customer' and 'Regular customer' using the criteria from the exercise

In [28]:
ords_prods_merge ['max_order'] = ords_prods_merge.groupby(['user_id']) ['order_number'].transform('max')

In [30]:
ords_prods_merge.loc [ords_prods_merge['max_order'] >40, 'loyalty_flag'] = 'Loyal customer'

In [32]:
ords_prods_merge.loc [ords_prods_merge ['max_order'] <=10, 'loyalty_flag'] = 'New customer'

In [42]:
ords_prods_merge.loc [(ords_prods_merge ['max_order'] <=40) & (ords_prods_merge ['max_order'] >10), 'loyalty_flag'] = 'Regular customer'

In [44]:
#check output
ords_prods_merge ['loyalty_flag'].value_counts (dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

## The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [49]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

## The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:.”

### If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
### If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [59]:
ords_prods_merge['average_price_of_purchase'] = ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [61]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0,order_id,user_id,eval_set,order_number,...,add_to_cart_order,reordered,_merge,price_range_loc,price_range,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price_of_purchase
0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,28,...,5,0,both,Mid-range product,Mid-range product,Regularly busy,Most orders,32,Regular customer,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,30,...,1,1,both,Mid-range product,Mid-range product,Regularly busy,Average orders,32,Regular customer,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,2,...,20,0,both,Mid-range product,Mid-range product,Busiest days,Average orders,5,New customer,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,1,...,10,0,both,Mid-range product,Mid-range product,Least busy,Most orders,3,New customer,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,3,...,11,1,both,Mid-range product,Mid-range product,Least busy,Average orders,3,New customer,4.972414

In [63]:
ords_prods_merge.loc [ords_prods_merge['average_price_of_purchase'] <10, 'spending_flag'] = 'Low spender'

In [67]:
ords_prods_merge.loc [ords_prods_merge['average_price_of_purchase'] >=10, 'spending_flag'] = 'High spender'

In [71]:
ords_prods_merge ['spending_flag'].value_counts (dropna = False)

spending_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

## In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:”.”

## If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer”
## If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer”
## If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer”

In [94]:
ords_prods_merge['average_days_between_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [104]:
ords_prods_merge.loc [ords_prods_merge['average_days_between_orders'] >20, 'frequency_flag'] = 'Non-frequent customer'

In [106]:
ords_prods_merge.loc [(ords_prods_merge['average_days_between_orders'] >10)
& (ords_prods_merge ['average_days_between_orders'] <=20), 'frequency_flag'] = 'Regular customer'

In [108]:
ords_prods_merge.loc [ords_prods_merge['average_days_between_orders'] <=10, 'frequency_flag'] = 'Frequent_customer'

In [112]:
#checking
ords_prods_merge['average_days_between_orders'].value_counts (dropna = False)

average_days_between_orders
7.0     5682399
6.0     2983604
8.0     2713964
5.0     2486061
4.0     2314289
         ...
26.5       5514
29.5       5095
1.5        1684
0.5         235
NaN           5
Name: count, Length: 62, dtype: int64

In [128]:
pd.options.display.max_rows = None

In [130]:
ords_prods_merge[['user_id', 'days_since_prior_order', 'average_days_between_orders', 'frequency_flag']].head(100)

,user_id,days_since_prior_order,average_days_between_orders,frequency_flag
0,138,3.0,8.0,Frequent_customer
1,138,20.0,8.0,Frequent_customer
2,709,6.0,8.0,Frequent_customer
3,764,NaN,9.0,Frequent_customer
4,764,9.0,9.0,Frequent_customer
5,777,26.0,11.0,Regular customer
6,825,30.0,20.0,Regular customer
7,910,30.0,6.0,Frequent_customer
8,1052,19.0,10.0,Frequent_customer
9,1052,15.0,10.0,Frequent_customer
10,1379,NaN,20.0,Regular customer
11,1480,7.0,7.0,Frequent_customer
12,1480,7.0,7.0,Frequent_customer
13,1480,12.0,7.0,Frequent_customer
14,1494,2.0,7.0,Frequent_customer
15,1494,6.0,7.0,Frequent_customer
16,1494,10.0,7.0,Frequent_customer
17,1540,7.0,7.0,Frequent_customer
18,1540,6.0,7.0,Frequent_customer
19,1540,14.0,7.0,Frequent_customer
20,1540,8.0,7.0,Frequent_customer
21,1540,6.0,7.0,Frequent_customer
22,1540,28.0,7.0,Frequent_customer
23,1540,7.0,7.0,Frequent_customer
24,1540,7.0,7.0,Frequent_customer
25,1540,0.0,7.0,Frequent_customer
26,1540,7.0,7.0,Frequent_customer
27,1540,7.0,7.0,Frequent_customer
28,1540,7.0,7.0,Frequent_customer
29,1540,7.0,7.0,Frequent_customer
30,1540,3.0,7.0,Frequent_customer
31,1540,16.0,7.0,Frequent_customer
32,1540,5.0,7.0,Frequent_customer
33,1540,6.0,7.0,Frequent_customer
34,1598,NaN,2.0,Frequent_customer
35,1598,21.0,2.0,Frequent_customer
36,1598,2.0,2.0,Frequent_customer
37,1647,NaN,25.0,Non-frequent customer
38,1647,18.0,25.0,Non-frequent customer
39,1647,8.0,25.0,Non-frequent customer
40,1647,30.0,25.0,Non-frequent customer
41,1647,25.0,25.0,Non-frequent customer
42,2833,NaN,13.0,Regular customer
43,2850,9.0,7.0,Frequent_customer
44,2857,10.0,11.0,Regular customer
45,3010,7.0,7.0,Frequent_customer
46,3029,NaN,28.0,Non-frequent customer
47,3395,30.0,18.0,Regular customer
48,3904,NaN,21.0,Non-frequent customer
49,4006,7.0,7.0,Frequent_customer
50,4006,7.0,7.0,Frequent_customer
51,4006,7.0,7.0,Frequent_customer
52,4006,5.0,7.0,Frequent_customer
53,4006,4.0,7.0,Frequent_customer
54,4122,8.0,7.0,Frequent_customer
55,4141,30.0,30.0,Non-frequent customer
56,4343,NaN,30.0,Non-frequent customer
57,4553,29.0,30.0,Non-frequent customer
58,4845,12.0,20.0,Regular customer
59,6866,NaN,30.0,Non-frequent customer
60,7275,4.0,12.0,Regular customer
61,7669,5.0,5.0,Frequent_customer
62,7669,5.0,5.0,Frequent_customer
63,7669,13.0,5.0,Frequent_customer
64,7981,10.0,6.0,Frequent_customer
65,7981,6.0,6.0,Frequent_customer
66,7981,9.0,6.0,Frequent_customer
67,7981,6.0,6.0,Frequent_customer
68,7981,8.0,6.0,Frequent_customer
69,8703,1.0,1.0,Frequent_customer
70,8723,7.0,6.0,Frequent_customer
71,8735,21.0,27.0,Non-frequent customer
72,9293,30.0,30.0,Non-frequent customer
73,9293,30.0,30.0,Non-frequent customer
74,9467,NaN,30.0,Non-frequent customer
75,9694,30.0,10.0,Frequent_customer
76,9694,8.0,10.0,Frequent_customer
77,9694,7.0,10.0,Frequent_customer
78,9694,14.0,10.0,Frequent_customer
79,9694,28.0,10.0,Frequent_customer
80,9694,16.0,10.0,Frequent_customer
81,9694,1.0,10.0,Frequent_customer
82,9694,14.0,10.0,Frequent_customer
83,9694,7.0,10.0,Frequent_customer
84,9694,8.0,10.0,Frequent_customer
85,9694,16.0,10.0,Frequent_customer
86,9848,8.0,11.0,Regular customer
87,10113,14.0,12.0,Regular customer
88,10315,NaN,11.0,Regular customer
89,10479,8.0,14.5,Regular customer
90,10708,14.0,14.0,Regular customer
91,10708,14.0,14.0,Regular customer
92,10789,10.0,7.0,Frequent_customer
93,10789,14.0,7.0,Frequent_customer
94,10789,4.0,7.0,Frequent_customer
95,10831,23.0,23.0,Non-frequent customer
96,11119,30.0,13.0,Regular customer
97,11186,2.0,6.0,Frequent_customer
98,11243,0.0,6.0,Frequent_customer
99,11448,3.0,14.0,Regular customer

## Export your dataframe as a pickle

In [134]:
ords_prods_merge.to_pickle(r'C:\Users\agwsi\CF\4. Python\11-06-24 Instacart project\02 Data\Prepared Data\ords_prods_merge_09_07.pkl')